@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #231955;
}

h1 {
    margin: 3rem 0 5rem 0;
    font-size: 2.5rem;
    color: #E8AA42;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #FFE5B4;
}

.score-container {
    width: 400px;
}

.container {
    background-color: #FFE5B4;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 14px 14px 0 0 #000000;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 5px;
}

img {
    border-radius: 20px;
    cursor: pointer;
    max-width: 90px;
    max-height: 90px;
}

button {
    margin-top: 5rem;
    width: 13rem;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    background-color: #1F4690;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}

@media (max-width: 533px) {
    h1 {
        text-align: center;
        margin: 1rem 0 3rem 0;
        font-size: 1.5rem;
    }

    button {
        width: 60vw;
        font-size: 1rem;
        margin-top: 2.5rem;
    }

    .score-container {
        width: 100vw;
        text-align: center;
    }

    #grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    img {
        width: 20vw;
        gap: 0;
    }
}

