@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #293462;
}

h1 {
    margin: 3rem 0 5rem 0;
    font-size: 2.5rem;
    color: #FFF80A;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid {
    width: 450px;
    height: 312px;
    display: flex;
    flex-wrap: wrap;
}

img {
    border: 2px solid black;
    min-width: 108px;
    cursor: pointer;
}

button {
    margin-top: 2.5rem;
    width: 13rem;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    background-color: #D61C4E;
    border: none;
    cursor: pointer;
}

